<main id="main">
      <article>
        <section>
          <h2>予約完了</h2>
          <p>予約が完了しました。以下の予約番号を控えておいてください。</p>
          <h3>予約情報</h3>
          <table class="input">
            <tr><th>予約番号</th><td><%= session[:no]%></td></tr>
          </table>
          <br>
          <p>当日はお気をつけてお出かけください。心よりお待ちいたしております。</p>
          <a class="submit_a" href="/">トップページへ</a>
        </section>
      </article>
    </main>
